body {
  background: linear-gradient(180deg, #4FC3F7, #1E88E5);
}

#root {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.main-body {
  display: block;
}

.center-line {
  font-family: 'Orbitron', sans-serif; /* 使用 Orbitron 字体 */
  font-size: 24px; /* 字体大小加大 */
  font-weight: bold; /* 加粗字体 */
  color: #FFD700; /* 橙色文字 */
  text-align: center; /* 居中显示文本 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* 添加阴影 */
}

.btn-style {
  margin: 10px;
  width: 100px;
}

.table-warpper {
  padding: 10px;
}

.err-msg {
  color: red;
}